.logintext {
    margin: 15px 0;
    display: inline-block;
}

.auth-form button, .logintext button {
    margin: 10px 0;
  }

.signup-btn, .reset-btn {
display: block;
margin: 20px auto;
}

.logintext {
text-align: center;
}
  